@model Lab21.Models.Home
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-left">
    <div>Welcome to GC Coffee</div>
    <a asp-area="" asp-controller="Account" asp-action="Register">Register</a>
</div>
